/hw3Task2/Debug
/hw3Task2/.vs
/hw3Task1/.vs
/hw3Task1/Debug
/Задача 1
/hw3Task3/Debug
/hw3Task3/.vs
/hw4Task1/Задача 1/Debug
/hw4Task1/Задача 1/.vs
/Домашка 1/задача 1/Debug
/Домашка 1/задача 1/.vs
/Домашка 1/задача 1/задача1/Debug
/Домашка 1/задача 2/Debug
/Домашка 1/задача 2/.vs
/Домашка 1/задача 2/задача 2/Debug
/Домашка 1/задача 3/Debug
/Домашка 1/задача 3/.vs
/Домашка 1/задача 3/задача 3/Debug
/Домашка 1/задача 4/Debug
/Домашка 1/задача 4/.vs
/Домашка 1/задача 4/задача 4/Debug
/Домашка 1/задача 5/Debug
/Домашка 1/задача 5/.vs
/Домашка 1/задача 5/задача 5/Debug
/Домашка 1/задача 6/Debug
/Домашка 1/задача 6/.vs
/Домашка 1/задача 6/задача 6/Debug
/Домашка 2/задача 1/Debug
/Домашка 2/задача 1/.vs
/Домашка 2/задача 1/задача 1/Debug
/Домашка 2/задача 2/задача 2/Debug
/Домашка 2/задача 2/задача 2/.vs
/Домашка 2/задача 2/задача 2/задача 2/Debug
/Домашка 2/задача 3/Debug
/Домашка 2/задача 3/.vs
/Домашка 2/задача 3/задача 3/Debug
/Домашка 2/задача 4/x64
/Домашка 2/задача 4/.vs
/Домашка 2/задача 4/Debug
/Домашка 2/задача 4/задача 4/x64
/Домашка 2/задача 4/задача 4/Debug
/hw3Task1/Задача 1/Debug
/hw3Task2/hw3Task2/Debug
/Домашка 3 Задача 3
/hw3Task1/Задача 1/Задача 1.vcxproj.user
/hw3Task2/hw3Task2/hw3Task2.vcxproj.user
/hw3Task3/Домашка 3 Задача 3/Домашка 3 Задача 3.vcxproj.user
